body {
  background: rgb(34, 195, 153);
  background: radial-gradient(
    circle,
    rgb(118, 146, 39) 30%,
    rgb(27, 151, 33) 70%
  );
}
.prettyFont {
  font-family: "DynaPuff", cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-right: 50%;
  margin-bottom: 150px;
}
img {
  position: relative;
  left: 10px;
  bottom: 60px;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: brown;
  border-radius: 80px;
  width: 700px;
  height: 300px;
  text-transform: capitalize;
  font-size: 20px;
  align-items: center;
}
main {
  margin: 0 auto;
  width: 800px;
}
ul {
  list-style-type: none;
  padding: 5px;
}
a:hover {
  color: aliceblue;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  margin-left: 600px;
  margin-top: 50px;
}
iframe {
  width: 600px;
  height: 350px;
}
img {
  border-radius: 50%;
  width: 350px;
}
